#speaker-queue-container {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 100;
    pointer-events: none;
}

#hotbar {
    position: relative !important;
}

#speaker-queue-container {

    bottom: calc(100% + 15px);
    left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 30;
}

.speaker-item {
    background-color: var(--color-cool-5-90);
    background-size: cover;
    background-position: center;
    transition: all 0.4s ease-in-out;
    box-sizing: border-box;
    image-rendering: smooth;
}

.speaker-item.first-speaker {
    z-index: 10;
    animation: speaker-glow 2s infinite ease-in-out;
    box-shadow: 0 0 10px var(--user-color);
}

@keyframes speaker-glow {
    0% {
        box-shadow: 0 0 5px var(--user-color);
        transform: scale(1);
    }

    50% {
        box-shadow: 0 0 5px var(--user-color), 0 0 15px var(--user-color);
        transform: scale(1.00);
    }

    100% {
        box-shadow: 0 0 5px var(--user-color);
        transform: scale(1);
    }
}